.chat-container {
    background-color: rgb(30, 30, 30);
    position: relative;
    width: 30%;
    height: 90vh;
    float: right;
}

.chat-box {
    height: 76vh;
    max-height: 76vh;
    padding-left: 20px;
    padding-right: 30px;
    overflow-x: hidden;
}

.chat-message {
    color: rgb(255, 255, 255);
    margin: 5px 0;
    overflow-wrap: break-word;
}

.input-container {
    display: flex;
    margin-top: 10px;
}

#chat-input[type="text"] {
    flex: 3;
    padding: 5px;
    margin: 20px;
    margin-right: 0px;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    background-color: rgb(26, 23, 23);
    border-radius: 25px;
    padding-left: 15px;
    resize: none;
}

::placeholder {
    color: rgb(125, 125, 125);
}

#chat-button {
    background-color: #4ed451;
    color: rgb(26, 23, 23);
    margin: 20px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 80px;
    border-radius: 25px;
}

#chatwelcome {
    color: rgb(125, 125, 125);
    text-align: center;
}


@media screen and (orientation: portrait) and (max-width:450px){
    .chat-container {
        background-color: rgb(30, 30, 30);
        position: relative;
        height: 50%;
        width: 100%;
    }

    .chat-box {
        height: 20vh;
        max-height: 20vh;
        padding-left: 20px;
        padding-right: 20px;
        overflow-x: hidden;
    }

    .input-container {
        display: flex;
    }
}

@media screen and (orientation: portrait) and (max-width:800px){
    .chat-container {
        background-color: rgb(30, 30, 30);
        position: relative;
        height: 50%;
        width: 100%;
    }

    .chat-box {
        height: 20vh;
        max-height: 20vh;
        padding-left: 20px;
        padding-right: 20px;
        overflow-x: hidden;
    }

    .input-container {
        display: flex;
    }
}

@media screen and (orientation: landscape) and (max-width:1050px){
    .chat-container {
        background-color: rgb(30, 30, 30);
        position: relative;
        height: 50%;
        width: 100%;
    }

    .chat-box {
        height: 20vh;
        max-height: 20vh;
        padding-left: 20px;
        padding-right: 20px;
        overflow-x: hidden;
    }

    .input-container {
        display: flex;
    }
}

@media screen and (orientation: landscape) and (max-width: 800px) {

    .chat-container{
        float: right;
        background-color: rgb(30, 30, 30);
        position: relative;
        height: 82.5vh;
        width: 25%;
    }
    .chat-box {
        height: 50vh;
        max-height: 50vh;
        padding-left: 20px;
        padding-right: 20px;
        overflow-x: hidden;
    }

    #chat-button {
    
        margin: 12px;
        height: 30px;
        width: 50px;
        border-radius: 10px;
    }

    #chat-input[type="text"] {
        flex: 3;
        padding: 5px;
        margin: 8px;
    }
}