.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    overflow: hidden;
    position: fixed;
}

img {
    overflow: hidden;
    position: fixed;
    min-width: 100%;
    z-index: -1;
    filter: brightness(30%);
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    user-select: none;
}

#help {
    margin-top: 5vw;
    margin-bottom: 0px;
    text-align: left;
}

#home {
    font-size: 20px;
    background-color: transparent;
    color: rgb(78, 78, 78);
    border: 0px solid transparent;
    padding-left: 95%;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 10px;
    margin-top: 5px;
}

h3 {
    font-size: 30px;
    color: #ffffffb6;
    margin-left: -300px;
    margin-right: 40px;
    margin-bottom: 10px;
    text-align: left;
}

#notice {
    margin: 40px;
    margin-bottom: 0;
    position: fixed;
    bottom: 40px;
    color: #ffffff30;
    font-size: smaller;
    text-align: center;
}

@media screen and (max-width: 960px) {
    #help {
        margin-top: 10vw;
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
        margin-left: 30px;
    }
}

@media screen and (max-height: 600px) {
    #help {
        margin-top: 2vw;
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
        margin-left: -150px;
    }

    #notice {
        visibility: hidden;
    }
}