#room {
    overflow-y: hidden;
}

.container {
    background-color: rgb(36, 36, 36);
    height: 91vh;
    width: 70%;
    float: left;
}

#urlinput {
    width: 55%;
    margin: 20px;
    height: 40px;
    border-radius: 25px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}

#submitbtn {
    margin-left: -10px;
    border-radius: 25px;
    height: 41px;
    width: 80px;
    font-size: 20px;
    border: 0px solid transparent;
    background-color: white;
    color: rgb(36, 36, 36);
    cursor: pointer;
}

.video-container {
    background-color: black;
    margin: 20px;
    margin-top: 0;
    height: 76.667vh;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
}

.player-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.chatContainer {
    background-color: rgb(30, 30, 30);
    position: relative;
    width: 30%;
    height: 91vh;
    float: right;
}

.chat-box {
    height: 78vh;
    max-height: 78vh;
    padding-left: 20px;
    padding-right: 30px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(30, 30, 30); 
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(125, 125, 125); 
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(36, 36, 36); 
  }

.chat-message {
    color: rgb(255, 255, 255);
    margin: 5px 0;
    overflow-wrap: break-word;
}

.input-container {
    display: flex;
    margin-top: 10px;
}

#chat-input[type="text"] {
    flex: 3;
    padding: 5px;
    margin: 20px;
    margin-right: 0px;
    font-size: 18px;
    text-align: left;
    color: #ffffff;
    background-color: rgb(26, 23, 23);
    border-radius: 25px;
    padding-left: 15px;
}

::placeholder {
    color: rgb(125, 125, 125);
}

#chat-button {
    background-color: #4ed451;
    color: rgb(26, 23, 23);
    margin: 20px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 80px;
    border-radius: 25px;
}

#chatwelcome {
    color: rgb(125, 125, 125);
    text-align: center;
}

@media screen and (max-width: 1400px) {
    #urlinput {
        width: 74%;
        font-size: 15px;
    }

    #submitbtn {
        width: 41px;
        font-size: 15px;
        border: 0px solid transparent;
        background-color: white;
        color: rgb(36, 36, 36);
        cursor: pointer;
    }

    .video-container {
        width: 89vw;
        min-height: 21.2vh;
        max-height: 33vh;
        padding-top: -50px;
        border-radius: 25px;
        overflow: hidden;
        float: flex;
    }
}

@media screen and (max-height: 500px) {
    .video-container {
        min-height: 60vh;
        width: 37vw;
    }
}