.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    overflow: hidden;
    position: fixed;
}

img {
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: -1;
    filter: brightness(30%);
}

h2 {
    font-size: 40px;
    color: #fff;
    margin-top: 200px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.hero-btns {
    margin-top: 20px;
}

.hero-container>h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.join-room {
    color: #fff;
    font-size: 22px;
    margin-left: 75px;
}

#logoutbtn {
    font-size: 20px;
    background-color: transparent;
    color: rgb(78, 78, 78);
    border: 0px solid transparent;
    padding-left: 95%;
    cursor: pointer;
    white-space: nowrap;
}

@media screen and (max-width: 960px) {
    h2 {
        font-size: 40px;
        color: #fff;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }

    #logoutbtn {
        padding-left: 80%;
    }
}