.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    user-select: none;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    /* max-width: 1500px; */
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    /* margin-left: -30px; */
    left: 40px;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.fa-play-circle {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
    list-style: none;
    text-align: center;
    width: 45vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 50px;
    white-space: nowrap;
    user-select: all;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.75rem 1rem;
    height: 100%;
}

.nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}

.fa-caret-down {
    color: #fff;
    margin-left: 0.2rem;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

#roomname {
    color: white;
    padding-top: 8px;
    padding-left: 100px;
    padding-right: 350px;
    width: 500px;
    font-size: 25px;
    text-align: center;
    display: block;
    user-select: none;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

#roomname:hover {
    transform: scale(1.1);
}

#username {
    color: white;
    padding-top: 8px;
    padding-right: 2%;
    width: 300px;
    font-size: 25px;
    text-align: center;
    display: block;
}

#leaveroombtn {
    padding-right: 20px;
}

.flags {
    position: absolute;
    top: 17.5px;
    right: 60px;
    width: 60px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#imglng {
    filter: brightness(80%);
    width: 60px;
    height: 45px;
}

.flags:hover {
    filter: brightness(200%);
}

@media screen and (max-width: 1400px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 45vh;
        position: absolute;
        top: 9vh;
        left: -100%;
        opacity: 1;
        transition: all 0s ease;
    }

    .nav-menu.active {
        background: rgb(36, 36, 36);
        left: 0;
        opacity: 1;
        transition: all 0s ease;
        z-index: 1;
    }

    .nav-links,
    #username,
    #roomname {
        font-size: 1.5rem;
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #fff;
        color: rgb(36, 36, 36);
        ;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: -3px;
        left: -20px;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-caret-up {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: #4ed451;
        color: rgb(36, 36, 36);
        padding: 14px 20px;
        border: 1px solid transparent;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: rgb(36, 36, 36);
        ;
        transition: 250ms;
    }

    #username,
    #roomname {
        color: rgb(175, 175, 175);
    }
}

@media screen and (max-width: 500px) {
    .flags {
        top: 15px;
        right: 50px;
    }

    #imglng {
        filter: brightness(80%);
        object-fit: contain;
        width: 40px;
        height: 30px;
    }
}

@media screen and (max-height: 500px) {
    .navbar {
        height: 17.5vh;
    }
    .nav-menu {
        height: 82.5vh;
        top: 17.5vh;
    }
}


#copyroom-notif {
    visibility: hidden;
    color: rgb(36, 36, 36);
    background-color: #4ed451;
    min-width: 250px;
    margin-left: -125px;
    border-radius: 50px;
    padding: 16px;
    text-align: center;
    left: 50%;
    bottom: 30px;
    z-index: 1;
    position: fixed;
  }
  
  /* This will be activated when the snackbar's class is 'show' which will be added through JS */
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations for fading in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }